/*font import*/
@import url('https://fonts.googleapis.com/css?family=Marck+Script');
        /* 'Marck Script', cursive; */
    @import url('https://fonts.googleapis.com/css?family=Rokkitt');
            /* 'Rokkitt', serif; **   */
        @import url('https://fonts.googleapis.com/css?family=Headland+One|Press+Start+2P');
            /*Press Start 2*/
            @import url('https://fonts.googleapis.com/css?family=Raleway');
                /*font-family: 'Raleway', sans-serif;*/

/*parameters of sections*/ 
.parameters{
    width: 750px;
    margin: 0 auto;
    min-height: 400px;
    padding: 50px 0;
    
}

/*header*/

header{    
    background-color: white;    
}

nav{
    margin: 0 auto;
    height:50px;
    width: 750px;
}

header img{
    height: 50px;
}

ul{
    float: right;
}

li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    font-family: 'Rokkitt';           
}

header a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}





/*first section */
    

div.first{
    
    
     
    text-align: center;
    font-family: 'Press Start 2P';
    background-image: url('images/cover.gif');
    background-size: cover;
    opacity:0.8;
    
   
}    
    div.first h1{    
    font-size: 5em;
    margin-block-start: 200px; /*margin starts from top of a bottom*/
    border: 5px solid red; 
    background-color: black; 
    color: aliceblue;    
    padding: 5px;   
}

div.first p{
    padding: 50px;
    margin-block-end: 20px;
    text-align: center;  
    color: aliceblue;  
}

div.first button{
    background-color: black;
    color: white;
    padding:10px;
    border:none;
}
 

/*second section*/

}

div.second{
    background-color: rgb(145, 170, 170);    
}

div.second p{
    text-align: justify;
    font-family: 'Raleway';
}

div.second h2{
    text-align: right;
    font-family: 'Marck Script';
    font-size: 1.4em;
}

/*third section*/
div.third{
    background-color: #0EA59D;
    font-family: 'Rokkitt';
       
}

.third img{
    width:375px;
}

div.third section{
    padding: 50px 0px 0px 0px;
}

.third p{
    font-family: 'Marck Script';
    font-style:
}

/*footer*/
footer{    
    font-style: italic;
    font-family: 'p';
    background-color: black;
    color: white;
    height: 48px;
    border: 1px solid black;    
}       /*if you add boarder it compensates previous section's padding*/

footer p{
    text-align: center;
}

/*for better organization nesting should be applied*/
