/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
/*
font-family: 'Dancing Script', cursive;
font-family: 'Bree Serif', serif;

font-family: 'Open Sans Condensed', sans-serif;
*/
h4, h3, h2, header, main th, main h3 {
    font-family: 'Dancing Script';
    font-style: italic;      
}
footer, select option,button, main div div span, main table.checkbox, main table.one tr:nth-child(2), main table.one tr:nth-child(3),main table.one tr:nth-child(4), main table.one tr:nth-child(5)   {
    font-family: 'Open Sans Condensed';    
}


/* logo*/
img{
    height: 50px;
    width: 45px;   
    float: left;
    margin-top:-7px; 
    padding-left: 20px;      
}

/*nav */
nav table tr:nth-child(2) td:hover{
    color: black;
}


nav{    
    width: 540px;
    text-align: center;
    margin: 0 auto;
    padding:20px 0px 70px 0px;     
}

nav table{
    float: right;
    color: #49C3B4;
    font-size: 17px;           
}

nav td{    
    padding:0px 10px 0px 35px;
}

.clearfix{
    clear: both;
}

nav td a{
    text-decoration: none;
}
/*centering*/

h2, main h3{
    text-align: center;   
}

/*main*/
main div select, .last, main{
    width:900px;
    margin: 0 auto;
}
nav table tr td a{
    color: inherit;
    text-decoration: none;
}

main table.one {
    border: 1px solid rgba(131, 141, 140, 0.473);
    margin: 0 auto;
    width: 900px;
    margin-top: 20px;
    border-collapse: collapse;
}

main table.one td{
    border: 1px solid rgba(195, 202, 201, 0.473);
    
}

main table.one th{
    text-align: left;
    color:#FFFFFF;
    background-color: #49C3B4;
    height: 30px;
    padding-left: 5px;
}

main table.one td:nth-child(3) a{
    text-decoration: none;
    color: inherit;
}

main table.one tr td:nth-child(3){
    width:400px;
}
/*table cells formating*/
main table.one tr td:nth-child(2),main table.one tr td:nth-child(3){
    text-align: center;
}

main table.one tr td:nth-child(1){
    padding: 5px 0px 5px 5px;
}

/*main middle col*/
main table.one tr td:nth-child(2){
    padding-right:5px;
}

/*hover n color*/
main table.one td:nth-child(3):hover{
    color: rgb(63, 5, 5);  
     
}
main table.one td:nth-child(3){
    color:rgb(61, 214, 194);
}

main table.one tr:nth-child(odd){
    background-color: rgba(218, 226, 225, 0.473)
}
    
/*user data input*/

main form table td [name=FirstName],main form table [name=SurName]{
    border:none;
    border-bottom: 1px solid #49C3B4;   
    width: 400px; 
    color:rgb(61, 214, 194);
    padding-left: 5px;
    margin-left: 15px;     
}

main form table td [name=EMail]{
    border:none;
    border-bottom: 1px solid #49C3B4;   
    width: 824px; 
    color:#49C3B4;
    padding-left: 5px;
    margin-left: 15px;
    margin-top: 20px;
}

/*check, radio, dropdown, submit */
h3 {
    text-align: center;    
    margin: 50px auto;
}

h4{
    text-align: center;    
    margin: 50px auto;
}



main table.checkbox td{   
    margin: 0 auto;
}


main table.checkbox td:nth-child(even){    
    padding:0px 20px 0px 20px;
}

main table.checkbox{
    margin: 0 auto;
}

/*aligment inputs*/


main div div {
text-align: center;
}

main div select, main div div span{
    padding: 0px 10px;
}

/*dropdown*/

select option, button{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 20px AUTO;
}
select, select option{
    color: #49C3B4;       
}
slect{
    color: #49C3B4;
    border:1px solid #49C3B4;
}

button{
    margin: 20px;
    background-color: #49C3B4;
    color: #FFFFFF;
    margin: 0 auto;
    margin-top: 20px;
    border-style: none;
    width: 80px;
    height: 40px;
}

.fill{
    margin: 0 auto;
}

/*footer*/
footer{
    height: 200px;
    background-color:#49C3B4;
    color: #FFFFFF;    
}

footer p{
    text-align: center;    
    padding-top: 80px;  
    color: rgba (218, 226, 225, 0.473);
}

